.project-filters {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.graveyard-header {
  display: flex;
  width: 100%;
}

.ml-auto {
  margin-left: auto;
  margin-right: 2rem;
}

.project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  max-width: var(--max-content-width);
  margin: auto;
}

#banner,
.banner-container {
  min-height: 60dvh;
}

#graveyard {
  background: linear-gradient(#202829, var(--color-background) 75%);
}

#project-filters {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.order-selectors {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#types {
  display: grid;
  column-gap: 1rem;
  row-gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
}

dialog h2 {
  margin-bottom: 1rem;
}

@media (max-width: 1100px) {
  #types {
    display: grid;
    column-gap: 1rem;
    row-gap: 1rem;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 900px) {
  .graveyard-header {
    flex-direction: column;
  }
  .btn-beige {
    margin-top: 1rem;
  }
}
