#banner {
  position: relative;
  min-height: 100dvh;
  width: 100dvw;

  overflow: hidden;
  background-color: #191f20;
}

.banner-container {
  position: relative;
  min-height: 100dvh;
  width: 100dvw;
  max-width: 1980px;
  background-color: #191f20;
  margin: auto;
}

.banner-grim-reaper,
.banner-grass {
  position: absolute;
}

.banner-curve {
  position: absolute;
  background: linear-gradient(#2d3839, #202829 35%);
  width: 9000px;
  height: 880px;
  left: 4000px;
  bottom: -880px;
  border-radius: 100%;
  transform: translate(-50%, -50%);
}

.banner-curve::before {
  content: "";
  display: block;
  position: absolute;
  left: -8700px;
  background: linear-gradient(#2d3839, #202829 35%);
  width: 9000px;
  height: 880px;
  border-radius: 100%;
}

.banner-grass {
  position: absolute;
  bottom: 250px;
  width: 700px;
  left: 450px;
}

.grass-left {
  transform: scaleX(-1);
  bottom: 150px;
  width: 800px;
  left: -150px;
}

.grass-left-before {
  bottom: 50px;
  width: 800px;
  left: -650px;
}

.grass-right {
  transform: scaleX(-1);
  bottom: 300px;
  width: 900px;
  left: 1100px;
}

.grass-right-after {
  bottom: 300px;
  width: 900px;
  left: 1800px;
}

.banner-grim-reaper {
  height: 65dvh;
  bottom: 10dvh;
  left: 53%;
  transform: translateX(-50%);
}

.banner-text {
  position: absolute;
  left: 50%;
  top: 5%;
  transform: translateX(-50%);
}

.banner-h1 {
  padding-bottom: 0;
}

.banner-productivity {
  font-size: 2.375rem;
}

.banner-graveyard {
  font-size: 4.625rem;
}

.banner-h1 span {
  display: block;
}

.banner-caption {
  font-family: BebasKai;
  color: var(--beige-normal-hover);
  text-align: center;
  font-size: 1.5625rem;
}

.index-h2 {
  color: var(--beige-normal);
  font-size: 47px;
  line-height: 1.25;
  margin-bottom: 1rem;
  font-weight: semi-bold;
  font-family: pirate;
  text-align: center;
}

.align-left {
  text-align: left;
}

.light-orange {
  color: var(--light-orange-normal);
}

.stats-list {
  display: flex;
  width: 100%;
  gap: 1rem;
  list-style: none;
  justify-content: space-between;
  max-width: 900px;
  margin: 2rem auto;
}

#recent-projects-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  max-width: 1440px;
}

#bury-project {
  width: 100%;
  padding: 0 2.5rem;
}
.bury-project-container {
  background: linear-gradient(to bottom, #2f3b3d, #273234);
  width: 100%;
  max-width: 1440px;
  border-radius: 40px;
  margin-top: 6rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  gap: 2rem;
  padding: 0 2rem;
}

.bury-text {
  margin: auto;
}

.btn-beige {
  display: block;
  width: fit-content;
  text-decoration: none;
  border: none;
  margin-top: 1rem;
  background-color: #cab38e;
  color: #000;
  font-size: 1.6875rem;
  font-weight: bold;
  padding: 0.75rem 4rem;
  border-radius: 15px;
}

.btn-beige:hover {
  background-color: var(--beige-normal-hover);
  transition: all 1s ease-out;
}

@media (max-width: 900px) {
  .bury-project-container {
    display: block;
    text-align: center;
    width: 100%;
    padding: 1rem;
  }
}

@media (max-width: 1200px) {
  .banner-grim-reaper {
    max-height: 60dvh;
    height: 60%;
    bottom: 8dvh;
    left: 60%;
    transform: translateX(-50%);
  }

  .banner-productivity {
    font-size: 2rem;
  }
  .banner-graveyard {
    font-size: 3.625rem;
  }
}
