#stats-overview {
  background: linear-gradient(#202829, var(--color-background) 75%);
}

.stats-overview-container {
  padding-top: 1px;
  transform: translateY(-20%);
}

.stats-quote {
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  z-index: 4;
  font-size: 2rem;
  color: #e0c79e;
  font-family: "bebaskai", "Roboto", sans-serif;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0;
  margin: 0;
  animation:
    smokey-shadow 6s infinite ease-in-out,
    flicker 3s infinite ease-in-out;
}

@media (max-width: 767px) {
  .stats-quote {
    font-size: 2rem;
  }

  #stats-overview {
    padding: 1rem 0;
  }
}
