/* Could this be split and streamlined per page?*/
@import url("./../components/layout/header/header.css");
@import url("./../components/layout/footer/footer.css");
@import url("./../components/forms/forms.css");
@import url("./../components/features/profile/profile.css");
@import url("./../components/features/profileProjectCard/profileProjectCard.css");
@import url("./../components/features/projectCard/projectCard.css");
@import url("./../components/forms/signup/terms.css");

@font-face {
  font-family: "pirate";
  src: url("../assets/fonts/PirateShip.ttf") format("truetype");
}

@font-face {
  font-family: "roboto";
  src: url("../assets/fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "bebaskai";
  src: url("../assets/fonts/BebasKai.ttf") format("truetype");
}

:root {
  --green-dark: #202829;
  --grey-normal: #a5a5a5;
  --grey-normal-hover: #959595;
  --beige-normal: #e0c79e;
  --beige-normal-hover: #cab38e;
}

body {
  background-color: var(--green-dark);
  font-family: roboto;
  margin: 0px auto;
  margin-top: 50px;
}

.container {
  display: flex;
  max-width: 1440px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  /* padding-top: 160px; */
  padding-bottom: 160px;
  margin: 0 auto;
}

h1 {
  color: #e0c79e;
  padding-bottom: 160px;
  font-size: 72px;
  font-family: pirate;
  line-height: 1.25;
  letter-spacing: 0px;
  font-weight: semi-bold;
  text-align: center;
}

h2 {
  color: var(--grey-normal);
  font-size: 42px;
  line-height: 1.25;
  margin-top: 0px;
  margin-bottom: 0px;
  letter-spacing: 0px;
  font-weight: semi-bold;
}

h3 {
  color: var(--grey-normal);
  font-size: 22px;
  line-height: 1.25;
  font-weight: medium;
  margin: 0px;
  padding-bottom: 10px;
}

p {
  color: var(--grey-normal);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0px;
  font-weight: regular;
  margin: 0px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  width: 100%;
  height: 80px;
  background-color: rgb(32, 40, 41, 0.23);
}

/* Index */
#banner {
  position: relative;
  min-height: 100dvh;
  width: 100dvw;

  overflow: hidden;
  background-color: #191f20;
}

.banner-container {
  position: relative;
  min-height: 100dvh;
  width: 100dvw;
  max-width: 1980px;
  background-color: #191f20;
  margin: auto;
}

.banner-grim-reaper,
.banner-grass {
  position: absolute;
}

.banner-curve {
  position: absolute;
  background: linear-gradient(#2d3839, #202829 35%);
  width: 9000px;
  height: 880px;
  left: 4000px;
  bottom: -880px;
  border-radius: 100%;
  transform: translate(-50%, -50%);
}

.banner-curve::before {
  content: "";
  display: block;
  position: absolute;
  left: -8700px;
  background: linear-gradient(#2d3839, #202829 35%);
  width: 9000px;
  height: 880px;
  border-radius: 100%;
}

.banner-grass {
  position: absolute;
  bottom: 250px;
  width: 700px;
  left: 450px;
}

.grass-left {
  transform: scaleX(-1);
  bottom: 150px;
  width: 800px;
  left: -150px;
}

.grass-left-before {
  bottom: 50px;
  width: 800px;
  left: -650px;
}

.grass-right {
  transform: scaleX(-1);
  bottom: 300px;
  width: 900px;
  left: 1100px;
}

.grass-right-after {
  bottom: 300px;
  width: 900px;
  left: 1800px;
}

.banner-grim-reaper {
  height: 65dvh;
  bottom: 10dvh;
  left: 53%;
  transform: translateX(-50%);
}

.banner-text {
  position: absolute;
  left: 50%;
  top: 5%;
  transform: translateX(-50%);
}

.banner-h1 {
  padding-bottom: 0;
}

.banner-productivity {
  font-size: 2.375rem;
}
.banner-graveyard {
  font-size: 4.625rem;
}

.banner-h1 span {
  display: block;
}

.banner-caption {
  font-family: BebasKai;
  color: var(--beige-normal-hover);
  text-align: center;
  font-size: 1.5625rem;
}

@media (max-width: 1200px) {
  .banner-grim-reaper {
    max-height: 60dvh;
    height: 60%;
    bottom: 8dvh;
    left: 60%;
    transform: translateX(-50%);
  }

  .banner-productivity {
    font-size: 2rem;
  }
  .banner-graveyard {
    font-size: 3.625rem;
  }
}
