<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="../../../../css/style.css" />
    <script type="module">
      import { renderLoginForm } from "./renderLoginForm.js";
      const container = document.getElementById("login-root");
      renderLoginForm(container);
    </script>
  </head>

  <body>
    <div id="login-root"></div>
  </body>
</html>
