<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signup</title>
    <link rel="stylesheet" href="../../../../css/style.css" />
    <script type="module">
      import { renderSignupForm } from "./createSignupForm.js";
      const container = document.getElementById("signup-root");
      renderSignupForm(container);
    </script>
  </head>

  <body>
    <div id="signup-root"></div>
  </body>
</html>
