.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: rgba(63, 81, 83, 0.1);
  width: 100%;
  font-family: var(--font-tagline), sans-serif;
  position: absolute;
  left: 0;
  right: 0;
  box-sizing: border-box;
}

.footer-left {
  text-align: left;
}

.footer-link {
  text-align: center;
  text-decoration: underline;
  color: var(--grey-normal);
}

.footer-link:hover {
  font-weight: bolder;
}

.footer-right {
  text-align: right;
}
