.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: black;
  width: 100%;
  max-width: 100vw; /* Ensures it doesn't exceed viewport width */
  font-family: var(--font-tagline), sans-serif;
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
  box-sizing: border-box;
  margin: 0; /* Remove any default margins */
  margin-top: 2rem;
}

.footer-left {
  text-align: left;
  flex: 1; /* Allow elements to share space evenly */
}

.footer-middle {
  text-align: center;
  flex: 1; /* Allow elements to share space evenly */
  display: flex;
  justify-content: center; /* Center horizontally */
}

.footer-link {
  text-decoration: underline;
  color: var(--grey-normal);
}

.footer-link:hover {
  font-weight: bolder;
}

.footer-right {
  text-align: right;
  flex: 1; /* Allow elements to share space evenly */
}

