.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: black;
  width: 100%;
  max-width: 100vw; /* Ensures it doesn't exceed viewport width */
  font-family: var(--font-tagline), sans-serif;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0; /* Add this to position at bottom if needed */
  box-sizing: border-box;
  margin: 0; /* Remove any default margins */
}

.footer-left {
  text-align: left;
}

.footer-link {
  text-align: center;
  text-decoration: underline;
  color: var(--grey-normal);
}

.footer-link:hover {
  font-weight: bolder;
}

.footer-right {
  text-align: right;
}
